@media only screen and (max-width: 800px) {
  .container{
    display: none;
  }
  #capa_war{
    justify-content: center;
  }
  #capa_war img{
    width: 250px;
    padding: 0;
    margin-top: 100px;
    height: 90px;
    margin-left: 70px;
  }

  #capa_war h1{
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 96px;  
  }

  .container_meio h1{
    font-size: 15px;
    line-height: 20px;
    margin-right: 2%;
    padding-left: 2%;
  }

  .container_meio p{
    line-height: 15px;
  }

  .carros{
    width: 100%;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
  }

  .not_container{
    display: block;
    margin-top: 50px;
    margin-left: 3px;
  }
  
  .not_container img{
    margin-bottom: 2px;
  }

  /*navegue*/
  .container_nav{
    margin-left: 7px;
  }
  .fundo_texto{
    width: 50px;
    padding: 10px;
  }
  .nav_epic img{
    width: 100px;
  }
  .subTitulo{
    font-size: 13px;
  }
  .novoEpic{
    display: none;
  }

  #background2 img {
  
    width: 100%;
    background-size: cover;
    display: none;
  }

  #background2 h3{
    padding-left: 10px;
  }
  #background2 p{
    padding-left: 10px;
  }

  #background2 button{
    margin-left: 10px;
    }
    
    /*footer*/
    .logo_footer{
      margin-right: auto;
      margin-bottom: 10px;
    }
    .footer_container{
      margin-left: 0;
      margin-right: 0;
    }
    .dados .tit_footer{
      margin-left: 0px;
      font-size: 16px;
      margin-bottom: 15px;
      }
      .dados li{
        margin-bottom: 1px;
        opacity: 0.8;
        margin-right: 25px;
        }
        
        .dados{
          display: inline-block;
          width: 100%;
        }

        .dados li{
          margin-bottom: 3px;
        }

        .epicUnrealIcon img{
          margin-top: 20px;
        }

   

   
}